/* ==========================================================================
   HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ pre-styling
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Custom styles (non boilerplate)

   A quick note on class names and specificity:
   It looks like Vend is using BEM or something similar.
   I know of and want to learn BEM but have never given it a go (as such I won't be using it here).
   Instead I wrote class names and structured specificity as if this login page
   would actually be connecting to a main site (the nameing conventions of which
   I'm not sure as of yet). So to avoid possible conflicts or breaking other styles,
   I've opted to nest most classes which I feel could clash within a parent div.
   This essentially makes it more like a standalone plugin than an extension of the site's styling conventions.
   If I were making this mockup with no particular site in mind I wouldn't write css like this.
   Moreover, if this were actually for Vend I would adopt the sites global styling
   and not write my own or use BP5 (html/body styling etc) - this might've changed my code a fair bit.

   All CSS kept in a single file for the sake of easy review. Usually I'd seperate it into multiple files
   based on whatever file structure/system is currently in use for the website (vendhq in this case).
   ========================================================================== */

/* Site-wide styling */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  /*Proxima Nova free alternative*/
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #ebebeb;
}

/* Header styling */
#main, header {
  /* Choose grey gutters version of design or not
  by un-commenting or commenting the max-width */
  /*max-width: 1440px;*/
  margin: 0 auto;
}

header {
  background-color: #404040;
  height: 30px;
}

/* Using .inner-header as the parent
to reduce class bloat and keep things
relatively unspecific for maintainability.
<header> not used as parent as you can have
several <header> elements in one document...
I can try better explain decisions like these
if you have any questions, so shoot :) */
.inner-header {
  max-width: 1022px;
  max-width: 63.87rem;
  padding-left: 1.305rem;
  padding-right: 1.305rem;
  margin-left: auto;
  margin-right: auto;
}

.inner-header ul:first-child {
  float: left;
  padding-left: 0;
}

.inner-header ul {
  float: right;
  margin: 0;
}

.inner-header li {
  display: inline-block;
  line-height: 30px;
  font-size: 11px;
  font-weight: 700;
}

.inner-header a {
  padding: 0 12px;
  display: inline-block;
  color: #f5f5f5;
  width: 101%;
  height: 100%;
  text-decoration: none;
  /* Normally I'd be using scss
  and mixins to do this for me so
  it would all be less cluttered */
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

.inner-header a:hover {
  color: #fff;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

.inner-header svg {
  display: inline;
  width: 15px;
}

/* SVG specific hover css
(I would normally nestle
css like this via scss
for readability and brevity) */
.inner-header a path {
  fill: #DFDFDF;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

.inner-header a:hover path {
  fill: #fff;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

/* I like Vend's current approach of seperating
classes based on either CSS styling (below)
or javascript selection (.js-phone-number).
for exmpl: .js-phone-number will be used for JS selection only.
.phone-number will be used for css only */
.inner-header .phone-number svg {
  margin-right: 5px;
  display: inline-block;
}

.inner-header .phone-number div {
  width: 85px;
  display: none;
  cursor: pointer;
}

.inner-header li:last-child svg {
  width: 18px;
}

/* Primary column styling */
#main {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* On the fly calculation ensures correct proportions constantly.
  100% of current viewport height minus the 30px header */
  height: calc(100vh - 30px);
}

/* It was difficult to tell from the image
If you wanted a vertically centered login box or not.
The current log in box is vertical so I went with that.
I also think it makes more sense. A relatively easy fix
if you'd like it changed to non-vertically centered.*/
.as-table {
  width: 100%;
  height: 100%;
  display: table;
}

.as-table-cell {
  vertical-align: middle;
  display: table-cell;
  max-width: 63.87rem;
  padding-left: 1.305rem;
  padding-right: 1.305rem;
  margin-left: auto;
  margin-right: auto;
}

/* Sign in box styling */
/* The primary parent div for this section.
Used as a means of specificity to avoid clashes
on classes I feel might already be in use*/
/* Personally, I'd like this primary sign in box
to animate onto the page on background image load */
.sign-in-container {
  color: #404040;
  margin: 0 auto;
  /* Pixel perfect :) */
  width: 840px;
  height: 418px;

  /* not sure how much creative license I'd be given
  with designs and what not but this is an example of
  something groundbreaking! I'd noramlly like to add in these
  situtations (based on Google's material design guidlines)
  It just helps the form pop more. Ofc I'd make suggestions
  rather than just write in my oppinioned css if that'd be preferred*/
  -webkit-box-shadow: 0px 4px 19px -8px rgba(0,0,0,0.60);
  -moz-box-shadow: 0px 4px 19px -8px rgba(0,0,0,0.60);
  box-shadow: 0px 4px 19px -8px rgba(0,0,0,0.60);
}

.sign-in-container .center {
  height: 100%;
  padding: 50px 40px;
}

.sign-in-container .carousel-container {
  width: 300px;
  height: 100%;
  background-color: #404040;
  float: left;
  color: #d2d2d2;
}

.sign-in-container .form-container {
  width: 540px;
  height: 100%;
  background-color: #fff;
  float: right;
}

.sign-in-container .form-container {
  border-radius: 0 3px 3px 0;
}

.sign-in-container .carousel-container {
  border-radius: 3px 0 0 3px;
}

.sign-in-subheader-text {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.carousel-container .sign-in-subheader-text {
  font-size: 16px;
  text-transform: uppercase;
  color: #d2d2d2;
  text-decoration: none;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
}

.sign-in-subheader-text svg * {
  fill: #d2d2d2;
}

.carousel-container .sign-in-subheader-text:hover, .sign-in-subheader-text:hover svg * {
  color: #fff;
  fill: #fff;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
}

.sign-in-subheader-text svg {
  width: 13px;
  height: 13px;
  margin-top: -2px;
  margin-left: 2px;
}

.sign-in-sub-text {
  margin: 23px;
  text-align: center;
  color: #fff;
  /* Enhanced readability against image backdrops.
  Another personal preference addition */
  text-shadow: 2px 2px 2px rgba(30, 30, 30, 0.35);
}

.sign-in-sub-text a {
  color: #fff;
  text-decoration: none;
}

.sign-in-sub-text a:hover {
  border-bottom: 1px solid #fff;
}

.sign-in-header-box {
  display: flex;
  align-items: center;
  font-size: 35px;
  margin-bottom: 50px;
}

.sign-in-header-box img {
  height: 57px;
  margin-right: 20px;
}

.sign-in-header-box .form-header-text {
  font-weight: 300;
  font-size: 35px;
}

/* Required asterix not present in design */
.sign-in-container abbr[title="required"] {
  display: none;
}

.sign-in-container .form-store-info div:first-child {
  float: left;
}

.sign-in-container .form-store-info div:last-child {
  float: right;
}

.sign-in-container .form-container form {
  margin-top: 20px;
}

.sign-in-container .form-store-info div:last-child a {
  color: #989898;
  text-decoration: none;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
}

.sign-in-container .form-store-info div:last-child a:hover {
  color: #797979;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
}

.sign-in-container .sign-in-input {
  display: block;
  width: 100%;
  border: 1px solid #d2d2d2;
  margin-bottom: 10px;
  line-height: 45px;
  padding-left: 15px;
  font-size: 18px;
}

/* I miss SCSS mixins already */
.sign-in-container .sign-in-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d2d2d2;
  font-size: 18px;
}
.sign-in-container .sign-in-input::-moz-placeholder { /* Firefox 19+ */
  color: #d2d2d2;
  font-size: 18px;
}
.sign-in-container .sign-in-input:-ms-input-placeholder { /* IE 10+ */
  color: #d2d2d2;
  font-size: 18px;
}
.sign-in-container .sign-in-input:-moz-placeholder { /* Firefox 18- */
  color: #d2d2d2;
  font-size: 18px;
}

.sign-in-container .form-group-submit {
  padding-top: 10px;
}

.sign-in-container .form-group-submit a {
  color: #008cc5;
  text-decoration: none;
  line-height: 45px;
}

.sign-in-container .form-group-submit div:first-child {
  float: right;
}

.sign-in-container .form-group-submit div:last-child {
  float: left;
}

/* As this generic button might
be used elsewhere in the future
I havent made it specific
to the login page */
.submit-button-green {
  width: 245px;
  height: 45px;
  color: #fff;
  border-radius: 3px;
  background-color: #41af4b;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
  text-transform: uppercase;
}

.submit-button-green:hover {
  background-color: #3da446;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
}

/* carousel styling */
.whats-new-carousel {
  margin-top: 38px;
}

.whats-new-carousel img {
  width: 100%;
}

.whats-new-carousel li img {
  padding-bottom: 20px;
}

.whats-new-carousel .unslider-nav {
  margin-top: 28px;
}

.whats-new-carousel .unslider-nav ol li  {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 100%;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background-color: #626262;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
}

.whats-new-carousel .unslider-nav ol li.unslider-active {
  background-color: #989898;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
}

/* Custom media queries */

/* The design didn't specify an inbetween state
(i.e. some tablets and larger phones)
So I just combined the two designs (mobile and desktop)
and adjusted css values accordingly.
Paddings and margins are scaled
but uniform padding is retained */
@media (max-width: 880px) {
  .sign-in-container {
    height: 378px;
  }

  .sign-in-container .center {
    height: 100%;
    padding: 30px 25px;
  }

  .sign-in-container .form-container, .sign-in-container .carousel-container, .sign-in-container {
    width: 100%;
  }

  .sign-in-container .form-container {
    border-radius: 3px 3px 0 0;
  }

  .sign-in-container .carousel-container {
    border-radius: 0 0 3px 3px;
    text-align: center;
  }

  .sign-in-container .whats-new-carousel {
    margin-top: 38px;
    width: 350px;
    margin: 0 auto;
    position: relative;
    top: 19px;
    text-align: center;
  }

  .whats-new-carousel .unslider-nav {
    margin-top: 4px;
  }

  .whats-new-carousel li img {
    padding-bottom: 10px;
  }

  .sign-in-sub-text {
    display: none;
  }

  .sign-in-container .sign-in-slider-description {
    text-align: left;
  }
}

/* I get rid of the header
at the same breaking point as vendhq */
@media (max-width: 767px) {
  header {
    display: none;
  }
  #main {
    height: 100vh;
  }
}

/* Mobile phone breakpoint based on look/smoothness
rather than predetermined mobile screen sizes */
@media (max-width: 500px) {
  body {
    background-color: #404040;
  }

  #main {
    background: none;
  }

  .as-table-cell {
    vertical-align: baseline;
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  .sign-in-container .center {
    height: 100%;
    padding: 50px 20px;
  }

  .sign-in-container .form-container {
    height: 465px;
  }

  .sign-in-container .form-store-info-desktop {
    display: none;
  }

  .sign-in-container .form-store-info div:last-child a {
    color: #d2d2d2;
  }

  .sign-in-container .form-group-submit div:first-child {
    float: none;
  }

 .sign-in-container .form-group-submit .submit-button-green {
   width: 100%;
 }

  .sign-in-container .form-group-submit div:last-child {
    float: none;
    text-align: center;
  }

  .sign-in-container .whats-new-carousel {
    width: 100%;
    margin-top: 20px;
  }

  .sign-in-container .carousel-container {
    text-align: left;
  }

  .sign-in-header-box {
    display: block;
    text-align: center;
  }

  .sign-in-header-box img {
    margin-right: 5px;
  }

  .sign-in-header-box .form-header-text {
    display: inline;
    position: relative;
    top: 5px;
  }

  .sign-in-container .unslider-nav {
    display: none;
  }

  .sign-in-container .form-group-submit a {
    font-size: 15px;
  }

  .sign-in-container .sign-in-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d2d2d2;
    font-size: 16px;
  }
  .sign-in-container .sign-in-input::-moz-placeholder { /* Firefox 19+ */
    color: #d2d2d2;
    font-size: 16px;
  }
  .sign-in-container .sign-in-input:-ms-input-placeholder { /* IE 10+ */
    color: #d2d2d2;
    font-size: 16px;
  }
  .sign-in-container .sign-in-input:-moz-placeholder { /* Firefox 18- */
    color: #d2d2d2;
    font-size: 16px;
  }
}

@media (min-width: 501px) {
  .sign-in-container .form-store-info-mobile {
    display: none;
  }
}

/* ==========================================================================
   Boilerplate Media Queries
   ========================================================================== */

@media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
}

/* ==========================================================================
   Boilerplate Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Boilerplate Print styles
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
